.fondo-text{
  background-color: red;
  height: 100vh;
}

.cart-item-count{
 font-size: 14px !important;
 color: red
}

.cart-item-list{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 36px;
  color: #4c5377;
  font-size: 16px;
  align-items: center;
}

.item-list-container{
  padding-top: 20px !important;
}

.my-selected-link{
  color: #09a454
}