.fondo-text {
  background-color: red;
  height: 100vh;
}

.cart-item-count {
  font-size: 14px !important;
  color: red;
}

.cart-item-list {
  font-size: 2rem;
  color: #fe7f02;
  padding: 10px 15px;
}

.cart-widget {
  background-color: transparent;
  position: fixed;
  z-index: 9;
  right: 0;
  border-bottom-left-radius: 10px;
}

.item-list-container {
  padding-top: 20px !important;
}

.my-selected-link {
  color: #09a454;
}

.my-logo {
  color: #ffc108 !important;
  font-weight: bold;
  letter-spacing: 0.8px;
}